extends ../../layouts/admin

include ../../mixins/boxGoBack
include ../../mixins/boxTitle

block main
  +boxGoBack(`/${admin}/articleUsers`)

  +boxTitle(pageTitle)

  .mb-3
    label.form-label Title
    input(
      class="form-control"
      value=articleUser.title
      readonly
    )
  .mb-3
    label.form-label Description
    textarea(
      tinymce
      readonly
    ) #{articleUser.description}
  .mb-3
    label.form-label Images
    each image in articleUser.images
      .w-50.mb-1
        img(
          class="img-thumbnail"
          src=image
        )
  .mb-3
    label.form-label Videos
    each video in articleUser.videos
      .w-50.mb-1
        video(
          width="100%"
          controls
        )
          source(
            type="video/mp4"
            src=video
        )
  .mb-3
    label.form-label Status
    select(
      class="form-select"
      disabled
    )
      option(value="active" selected=(articleUser.status === "active")) Active
      option(value="inactive" selected=(articleUser.status === "inactive")) Inactive
  .mb-3
    label.form-label Owner
    select(
      class="form-select"
      disabled
    )
      option(value="") ---
      each user in users
        option(value=user.id selected=(user.id === articleUser.createdBy.userId)) #{user.fullName} - #{user.phone}