extends ../../layouts/admin

include ../../mixins/boxGoBack
include ../../mixins/boxTitle

block main
  +boxGoBack(`/${admin}/articleGroups`)

  +boxTitle(pageTitle)

  form(
    method="POST"
    action=`/${admin}/articleGroups/update/${articleGroup.id}?_method=PATCH`
    enctype="multipart/form-data"
  )
    .mb-3
      label.form-label Title
      input(
        class="form-control"
        name="title"
        value=articleGroup.title
        required
      )
    .mb-3
      label.form-label Description
      textarea(
        name="description"
        tinymce
      ) #{articleGroup.description}
    .mb-3
      label.form-label Images
      each image in articleGroup.images
        .w-50.mb-1
          img(
            class="img-thumbnail"
            src=image
          )
      input(
        class="form-control"
        type="file"
        name="images"
        accept="image/*"
        multiple
        chooseMaxFileQuantity=6
      )
    .mb-3
      label.form-label Videos
      each video in articleGroup.videos
        .w-50.mb-1
          video(
            width="100%"
            controls
          )
            source(
              type="video/mp4"
              src=video
          )
      input(
        class="form-control"
        type="file"
        name="videos"
        accept="video/mp4,video/x-m4v,video/*"
        multiple
        chooseMaxFileQuantity=6
      )
    .mb-3
      label.form-label Status
      select(
        class="form-select"
        name="status"
        required
      )
        option(value="active" selected=(articleGroup.status === "active")) Active
        option(value="inactive" selected=(articleGroup.status === "inactive")) Inactive
    .mb-3
      label.form-label Owner
      select(
        class="form-select"
        name="userId"
        required
      )
        option(value="") ---
        each user in users
          option(value=user.id selected=(user.id === articleGroup.createdBy.userId)) #{user.fullName} - #{user.phone}

    .mb-3
      label.form-label Group
      select(
        class="form-select"
        name="groupId"
        required
      )
        option(value="") ---
        each group in groups
          option(value=group.id selected=(group.id === articleGroup.groupId)) #{group.title}
    
    .d-flex.justify-content-center.mb-3
      button.btn.btn-primary Update