extends ../../layouts/admin

include ../../mixins/boxTitle
include ../../mixins/boxCreate
include ../../mixins/formSort
include ../../mixins/formSearch
include ../../mixins/formAction
include ../../mixins/pagination

block main
  +boxTitle(pageTitle)

  +boxCreate(`/${admin}/accounts/create`)

  form(form-filter)
    label.form-label Bộ lọc
    .input-group.mb-3
      select(
        class="form-select"
        name="filter"
      )
        each filterOption in filter.filterOptions
          option(
            value=filterOption.value 
            selected=(filter.filter === filterOption.value)
          ) #{filterOption.title}

  +formSort(sort)

  +formSearch(keyword, "Tìm kiếm theo email...")

  +formAction(`${url.base}/actions?_method=PATCH`, actionOptions)

  table.table
    thead
      tr
        th(scope="col")
          input(
            class="form-check-input"
            type="checkbox"
            name="checkbox-all"
          )
        th(scope="col") #
        th(scope="col") Ảnh
        th(scope="col") Họ tên
        th(scope="col") Email
        th(scope="col") Vai trò
        th(scope="col") Trạng thái
        th(scope="col") Hành động
    tbody
      each account, index in accounts
        tr
          th(scope="row")
            input(
              class="form-check-input"
              type="checkbox"
              name="checkbox"
              value=account.id
            )
          th(scope="row") #{((pagination.page - 1) * pagination.limit) + (index + 1)}
          td(style="width: 15%")
            img(class="img-thumbnail" src=account.avatar)
          td #{account.fullName}
          td #{account.email}
          td #{roles[index].title}
          td
            form(
              method="POST"
              id=account.id
              form-update-status
            )
              select(
                class="form-select"
                name="status"
                required
              )
                option(value="active" selected=(account.status === "active")) Hoạt động
                option(value="inactive" selected=(account.status === "inactive")) Ngưng hoạt động
          td
            a(class="btn btn-primary" href=`/${admin}/accounts/detail/${account.id}`) Xem 
            a(class="btn btn-warning mx-1" href=`/${admin}/accounts/update/${account.id}`) Sửa
            form(
              class="d-inline"
              method="POST"
              action=`/${admin}/accounts/delete/${account.id}?_method=DELETE`
              form-delete-item
            )
              button.btn.btn-danger Xóa
  
  +pagination(url, pagination.page, pagination.maxPage, pagination.limit)