extends ../../layouts/admin

include ../../mixins/boxGoBack
include ../../mixins/boxTitle

block main
  +boxGoBack(`/${admin}/roomChats`)

  +boxTitle(pageTitle)

  form(
    method="POST"
    action=`/${admin}/roomChats/create`
    enctype="multipart/form-data"
  )
    .mb-3
      label.form-label Title
      input(
        class="form-control"
        name="title"
        required
      )
    .mb-3
      label.form-label Image
      input(
        class="form-control"
        type="file"
        name="avatar"
        accept="image/*"
        required
      )
    .mb-3
      label.form-label Status
      select(
        class="form-select"
        name="status"
        required
      )
        option(value="active") Active
        option(value="inactive") Inactive
    .mb-3
      label.form-label Owner
      select(
        class="form-select"
        name="userId"
        required
      )
        option(value="") ---
        each user in users
          option(value=user.id) #{user.fullName} - #{user.phone}
    
    .d-flex.justify-content-center.mb-3
      button.btn.btn-primary Add