extends ../../layouts/admin

include ../../mixins/boxGoBack
include ../../mixins/boxTitle

block main
  +boxGoBack(`/${admin}/roomChats`)

  +boxTitle(pageTitle)

  .mb-3
    label.form-label Title
    input(
      class="form-control"
      value=roomChat.title
      readonly
    )
  .mb-3
    label.form-label Image
    .w-25.mb-1
      img(
        class="img-thumbnail"
        src=roomChat.avatar
      )
  .mb-3
    label.form-label Type
    select(
      class="form-select"
      disabled
    )
      option(value="group" selected=(roomChat.type === "group")) Group
      option(value="friend" selected=(roomChat.type === "friend")) Friend
  .mb-3
    label.form-label Status
    select(
      class="form-select"
      disabled
    )
      option(value="active" selected=(roomChat.status === "active")) Active
      option(value="inactive" selected=(roomChat.status === "inactive")) Inactive

  .mb-3
    label.form-label List of users
    .row
      each item in users
        .col-3
          .card
            img(
              class="card-img-top"
              style="aspect-ratio: 4/3"
              src=item.user.avatar
            )
            .card-body
              h5.card-title #{item.user.fullName}
              -if(item.role === "superAdmin")
                p.card-text #{"Owner"}
              -else if (item.role === "admin")
                p.card-text #{"Admin"}
              -else
                p.card-text #{"User"}
              p.card-text #{item.user.phone}
              a(
                class="btn btn-primary"
                href=`/${admin}/users/detail/${item.user.id}`
              ) Detail

  .mb-3
    label.form-label List of user requests
    .row
      each user in userRequests
        .col-3
          .card
            img(
              class="card-img-top"
              style="aspect-ratio: 4/3"
              src=user.avatar
            )
            .card-body
              h5.card-title #{user.fullName}
              p.card-text #{user.phone}
              a(
                class="btn btn-primary"
                href=`/${admin}/users/detail/${user.id}`
              ) Detail