extends ../../layouts/admin

include ../../mixins/boxTitle
include ../../mixins/boxCreate
include ../../mixins/formSort
include ../../mixins/formSearch
include ../../mixins/formAction
include ../../mixins/pagination

block main
  +boxTitle(pageTitle)

  +boxCreate(`/${admin}/taskGroupSubmissions/create`)

  form(form-filter)
    label.form-label Filter
    .input-group.mb-3
      select(
        class="form-select"
        name="filter"
      )
        each filterOption in filter.filterOptions
          option(
            value=filterOption.value 
            selected=(filter.filter === filterOption.value)
          ) #{filterOption.title}

  +formSort(sort)

  +formSearch(keyword, "Search by title...")

  +formAction(`${url.base}/actions?_method=PATCH`, actionOptions)

  table.table
    thead
      tr
        th(scope="col")
          input(
            class="form-check-input"
            type="checkbox"
            name="checkbox-all"
          )
        th(scope="col") #
        th(scope="col") Title
        th(scope="col") Group task
        th(scope="col") Status
        th(scope="col") Actions
    tbody
      each taskGroupSubmission, index in taskGroupSubmissions
        tr
          th(scope="row")
            input(
              class="form-check-input"
              type="checkbox"
              name="checkbox"
              value=taskGroupSubmission.id
            )
          th(scope="row") #{((pagination.page - 1) * pagination.limit) + (index + 1)}
          td #{taskGroupSubmission.title}
          td #{taskGroups[index].title}
          td
            form(
              method="POST"
              id=taskGroupSubmission.id
              form-update-status
            )
              select(
                class="form-select"
                name="status"
                required
              )
                option(value="active" selected=(taskGroupSubmission.status === "active")) Active
                option(value="inactive" selected=(taskGroupSubmission.status === "inactive")) Inactive
          td
            a(class="btn btn-primary" href=`/${admin}/taskGroupSubmissions/detail/${taskGroupSubmission.id}`) Detail 
            a(class="btn btn-warning mx-1" href=`/${admin}/taskGroupSubmissions/update/${taskGroupSubmission.id}`) Edit
            form(
              class="d-inline"
              method="POST"
              action=`/${admin}/taskGroupSubmissions/delete/${taskGroupSubmission.id}?_method=DELETE`
              form-delete-item
            )
              button.btn.btn-danger Delete
  
  +pagination(url, pagination.page, pagination.maxPage, pagination.limit)