extends ../../layouts/admin

include ../../mixins/boxTitle
include ../../mixins/boxCreate
include ../../mixins/formSort
include ../../mixins/formSearch
include ../../mixins/formAction
include ../../mixins/pagination

block main
  +boxTitle(pageTitle)

  +boxCreate(`/${admin}/taskGroupSubmissions/create`)

  form(form-filter)
    label.form-label Bộ lọc
    .input-group.mb-3
      select(
        class="form-select"
        name="filter"
      )
        each filterOption in filter.filterOptions
          option(
            value=filterOption.value 
            selected=(filter.filter === filterOption.value)
          ) #{filterOption.title}

  +formSort(sort)

  +formSearch(keyword, "Tìm kiếm theo tiêu đề nộp bài nhiệm vụ cộng đồng...")

  +formAction(`${url.base}/actions?_method=PATCH`, actionOptions)

  table.table
    thead
      tr
        th(scope="col")
          input(
            class="form-check-input"
            type="checkbox"
            name="checkbox-all"
          )
        th(scope="col") #
        th(scope="col") Tiêu đề
        th(scope="col") Nhiệm Vụ Cộng Đồng
        th(scope="col") Trạng thái
        th(scope="col") Hành động
    tbody
      each taskGroupSubmission, index in taskGroupSubmissions
        tr
          th(scope="row")
            input(
              class="form-check-input"
              type="checkbox"
              name="checkbox"
              value=taskGroupSubmission.id
            )
          th(scope="row") #{((pagination.page - 1) * pagination.limit) + (index + 1)}
          td #{taskGroupSubmission.title}
          td #{taskGroups[index].title}
          td
            form(
              method="POST"
              id=taskGroupSubmission.id
              form-update-status
            )
              select(
                class="form-select"
                name="status"
                required
              )
                option(value="active" selected=(taskGroupSubmission.status === "active")) Hoạt động
                option(value="inactive" selected=(taskGroupSubmission.status === "inactive")) Ngưng hoạt động
          td
            a(class="btn btn-primary" href=`/${admin}/taskGroupSubmissions/detail/${taskGroupSubmission.id}`) Xem 
            a(class="btn btn-warning mx-1" href=`/${admin}/taskGroupSubmissions/update/${taskGroupSubmission.id}`) Sửa
            form(
              class="d-inline"
              method="POST"
              action=`/${admin}/taskGroupSubmissions/delete/${taskGroupSubmission.id}?_method=DELETE`
              form-delete-item
            )
              button.btn.btn-danger Xóa
  
  +pagination(url, pagination.page, pagination.maxPage, pagination.limit)