extends ../../layouts/admin

include ../../mixins/boxGoBack
include ../../mixins/boxTitle

block main
  +boxGoBack(`/${admin}/groups`)

  +boxTitle(pageTitle)

  form(
    method="POST"
    action=`/${admin}/groups/update/${group.id}?_method=PATCH`
    enctype="multipart/form-data"
  )
    .mb-3
      label.form-label Title
      input(
        class="form-control"
        name="title"
        value=group.title 
        required
      )
    .mb-3
      label.form-label Description
      textarea(
        name="description"
        tinymce
      ) #{group.description}
    .mb-3
      label.form-label Avatar
      .w-25.mb-1
        img(
          class="img-thumbnail"
          src=group.avatar
        )
      input(
        class="form-control"
        type="file"
        name="avatar"
        accept="image/*"
        value=group.avatar
      )
    .mb-3
      label.form-label Cover photo
      .w-25.mb-1
        img(
          class="img-thumbnail"
          src=group.coverPhoto
        )
      input(
        class="form-control"
        type="file"
        name="coverPhoto"
        accept="image/*"
        value=group.coverPhoto
      )
    .mb-3
      label.form-label Status
      select(
        class="form-select"
        name="status"
        required
      )
        option(value="active" selected=(group.status === "active")) Active
        option(value="inactive" selected=(group.status === "inactive")) Inactive
    .mb-3
      label.form-label Group topic
      select(
        class="form-select"
        name="groupTopicId"
        required
      )
        each groupTopic in groupTopics
          option(value=groupTopic.id selected=(groupTopic.id === group.groupTopicId)) #{groupTopic.title}
    
    .d-flex.justify-content-center.mb-3
      button.btn.btn-primary Update
      
  .mb-3
    label.form-label List of participants
    .row
      each item in users
        .col-3
          .card
            img(
              class="card-img-top"
              style="aspect-ratio: 4/3"
              src=item.user.avatar
            )
            .card-body
              h5.card-title #{item.user.fullName}

              form(
                method="POST"
                action=`/${admin}/groups/changeUserRole`
                groupId=group.id
                userId=item.user.id
                form-change-group-user-role
              )
                .mb-3
                  label.form-label Role
                  select.form-select
                    option(value="superAdmin" selected=(item.role === "superAdmin")) Owner
                    option(value="admin" selected=(item.role === "admin")) Admin
                    option(value="user" selected=(item.role === "user")) User
              
              p.card-text #{item.user.phone}
              .d-flex
                a(
                  class="btn btn-primary me-1"
                  href=`/${admin}/users/detail/${item.user.id}`
                ) Detail

                form(
                  method="POST"
                  action=`/${admin}/groups/deleteUser`
                  groupId=group.id
                  userId=item.user.id
                  form-delete-group-user
                )
                  button.btn.btn-danger Delete


  .mb-3
    label.form-label List of user requests
    .row
      each user in userRequests
        .col-3
          .card
            img(
              class="card-img-top"
              style="aspect-ratio: 4/3"
              src=user.avatar
            )
            .card-body
              h5.card-title #{user.fullName}
              p.card-text #{user.phone}
              a(
                class="btn btn-primary"
                href=`/${admin}/users/detail/${user.id}`
              ) Detail

              .mt-1.d-flex
                form(
                  method="POST"
                  action=`/${admin}/groups/acceptUser`
                  groupId=group.id
                  userId=user.id
                  form-accept-group-user
                )
                  button.btn.btn-primary Accept

                form(
                  class="ms-1"
                  method="POST"
                  action=`/${admin}/groups/deleteUserRequest`
                  groupId=group.id
                  userId=user.id
                  form-delete-group-user-request
                )
                  button.btn.btn-danger Delete